

/* Import Google Fonts for Archivo Black at the top */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Global styles */
body {
 
  width: 100%;
  font-family: 'Archivo Black', sans-serif; /* Apply Archivo Black font globally */
  overflow: hidden; /* Prevents unwanted scrollbars */
 
}

html {
  overflow: hidden; /* Prevents unwanted scrollbars */
  background-color: #FAF9F6;
  
}




/* Custom scrollbar styles for the content container */
.scrollable-content {
  overflow-y: scroll; 
 
  
   
}

/* Custom scrollbar styles */
.scrollable-content::-webkit-scrollbar {
  width: 12px;

}

.scrollable-content::-webkit-scrollbar-track {
  background: #FAF9F6;
  
  
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 6px;
 
 
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;

}



