

/* Import Google Fonts for Archivo Black at the top */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Global styles */
body {
  font-family: 'Archivo Black', sans-serif; /* Apply Archivo Black font globally */
  text-decoration: none; /* Optional: Adjust text-decoration as needed */
}


html {
  overflow: hidden; /* Prevents unwanted scrollbars */
  height: 100%; /* Ensures proper height */
  padding-top: 5%;
  background-color: #FAF9F6;
}







