/**
 * CSS Animations and Styles
 * Defines ripple animation effect for interactive elements and a scale-up animation for visual emphasis.
 * - `softRipple`: Creates a growing ripple effect with fading opacity.
 * - `scaleUp`: Smoothly scales an element up and down.
 * - `.ripple`: A circular element with the softRipple animation applied.
 * - `.scale-animation`: Applies the scaleUp animation to an element.
 */



@keyframes softRipple {
    0% {
      transform: scale(0.2);
      opacity: 0.5;
    }
    40% {
      opacity: 0.35;
    }
    100% {
      transform: scale(8);
      opacity: 0;
    }
  }
  
  .ripple {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(59, 130, 246, 0.4) 40%, transparent 70%);
    border-radius: 50%;
    transform: scale(0);
    animation: softRipple 1.7s ease-out forwards;
    pointer-events: none;
    z-index: 10;
  }


  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.20); /* Scale to 105% */
    }
    100% {
      transform: scale(1);
    }
  }
  
  .scale-animation {
    animation: scaleUp 1s ease-in-out;
  }
  
  .ripple {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(156,208,220) 40%, transparent 70%);
    border-radius: 50%;
    transform: scale(0);
    animation: softRipple 1.7s ease-out forwards;
    pointer-events: none;
    z-index: 10;
  }
  
  